@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary */

  --Desaturated_Dark_Cyan: hsl(180, 29%, 50%);

  /* Neutral */

  --Light_Grayish_Cyan_Bg: hsl(180, 52%, 96%);
  --Light_Grayish_Cyan_Filter_Tablets: hsl(180, 31%, 95%);
  --Dark_Grayish_Cyan: hsl(180, 8%, 52%);
  --Very_Dark_Grayish_Cyan: hsl(180, 14%, 20%);
}

body {
  background-color: var(--Light_Grayish_Cyan_Bg);
  color: var(--Very_Dark_Grayish_Cyan);
}

.card {
  background-color: #fff;
}

.company_name {
  color: var(--Dark_Grayish_Cyan);
}

.posting li:nth-child(1) {
  list-style: none;
}

.tool {
  color: var(--Desaturated_Dark_Cyan);
  background-color: var(--Light_Grayish_Cyan_Filter_Tablets);
}

.bg-img {
  background-color: var(--Desaturated_Dark_Cyan);
}

.filters {
  background-color: #fff;
}

.filter {
  background-color: var(--Light_Grayish_Cyan_Filter_Tablets);
  color: var(--Desaturated_Dark_Cyan);
  cursor: pointer;
  overflow: hidden;
}

.filter::after {
  content: url('../public/images/icon-remove.svg');
  background-color: var(--Desaturated_Dark_Cyan);
  padding: 0.5em;
}

.filter:hover::after {
  background-color: var(--Very_Dark_Grayish_Cyan);
}

.active {
  background-color: var(--Desaturated_Dark_Cyan);
  color: #fff;
}

.clear {
  color: var(--Desaturated_Dark_Cyan);
  cursor: pointer;
}

.clear:hover {
  text-decoration: underline;
}
