@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
  /* Primary */

  --Desaturated_Dark_Cyan: hsl(180, 29%, 50%);

  /* Neutral */

  --Light_Grayish_Cyan_Bg: hsl(180, 52%, 96%);
  --Light_Grayish_Cyan_Filter_Tablets: hsl(180, 31%, 95%);
  --Dark_Grayish_Cyan: hsl(180, 8%, 52%);
  --Very_Dark_Grayish_Cyan: hsl(180, 14%, 20%);
}

body {
  background-color: var(--Light_Grayish_Cyan_Bg);
  color: var(--Very_Dark_Grayish_Cyan);
  font-size: 15px;
}

.card {
  background-color: #fff;
}

.featured-card {
  border-left: 8px solid var(--Desaturated_Dark_Cyan);
}

.featured-card h2 {
  color: var(--Desaturated_Dark_Cyan);
}

h2 {
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
}

h3 {
  font-family: 'League Spartan', sans-serif;
  font-weight: 500;
  font-size: 1.25em;
}

.company_name {
  color: var(--Dark_Grayish_Cyan);
}

.new {
  background-color: var(--Desaturated_Dark_Cyan);
  color: #fff;
}

.featured {
  background-color: var(--Very_Dark_Grayish_Cyan);
  color: #fff;
}

.posting li:nth-child(1) {
  list-style: none;
}

.posting li {
  color: var(--Dark_Grayish_Cyan);
}

.tool {
  color: var(--Desaturated_Dark_Cyan);
  background-color: var(--Light_Grayish_Cyan_Filter_Tablets);
}

.bg-img {
  background-color: var(--Desaturated_Dark_Cyan);
}

.filters {
  background-color: #fff;
}

.filter {
  background-color: var(--Light_Grayish_Cyan_Filter_Tablets);
  color: var(--Desaturated_Dark_Cyan);
  cursor: pointer;
  overflow: hidden;
}

.filter::after {
  content: url('../public/images/icon-remove.svg');
  background-color: var(--Desaturated_Dark_Cyan);
  padding: 0.5em;
}

.filter:hover::after {
  background-color: var(--Very_Dark_Grayish_Cyan);
}

.active {
  background-color: var(--Desaturated_Dark_Cyan);
  color: #fff;
}

.clear {
  color: var(--Desaturated_Dark_Cyan);
  cursor: pointer;
}

.clear:hover {
  text-decoration: underline;
}

hr {
  display: none;
}

@media (min-width: 701px) and (max-width: 1050px) {
  .card ul {
    flex-wrap: wrap;
  }
}

@media (max-width: 700px) {
  .card img {
    position: absolute;
    top: -8%;
    width: 50px;
  }

  .card {
    grid-template-columns: none;
    grid-template-rows: auto;
    margin-top: 2em;
  }

  hr {
    display: block;
    margin: 2em 0 2em 0;
    border-width: 2px;
  }

  .card ul {
    justify-self: left;
    flex-wrap: wrap;
  }
}
